* {
    outlne: 1px red solid;
}

header {

    // navigation-bar
    .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        // left-menu
        .containerLeft {
            grid-column: 1 / 2;
            display: flex;
            justify-content: flex-end;

            .leftMenu {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }

        // logo
        .logo {
            grid-column: 2 / 3;
            display: flex;
            justify-self: center;
        }

        // right-menu
        .containerRight {
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-start;

            .rightMenu {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .leftBanner {
            grid-column: 1 / 2;
            display: grid;
            grid-template-rows: 30vh 15vh 20vh;

            &__header {
              grid-row: 1 / 2;
              display: flex;
              align-items: center;
                
            }

            // explore and video buttons
            .leftBannerButtons {
               grid-row: 2 / 3;
               display: flex;
               align-items: center;

               &__white {
                   display: flex;
                   align-items: center;
               }
            }

            .leftBannerParagraphs {
                display: flex;
                align-items: center;
                gap: 20px;
                
                .leftBannerDelivery {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .leftBannerFood{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .leftBannerSupport {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        &__right {
            display: flex;
            justify-content: center;
        }
    }
}

main {
    .welcome {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .welcomeLeft {
            grid-column: 1 / 2;
            display: flex;
            align-self: center;
        }

        .welcomeRight {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            
            .aboutContainer {
                grid-row: 1 / 2;
            }

            .recipeContainer {
                grid-row: 2 / 3;
            }
            .welcomeSpecialRecipe {
                display: flex;
                justify-content: space-between;
            }
        }

    }

    .specialDishesContainer {

        .specialDishesFirst {
            display: grid;
            grid-template-rows: 20vh 70vh;

           .specialDishesHeader {
               grid-row: 1 / 2;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
            } 

           .specialDishesContent {
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-row: 2 / 3;

               .specialDishesContentLeft {
                    grid-column: 1 / 2;
                    .dishesNumber {
                        display: flex;
                        align-items: center;
                    }
                }

                .specialDishesContentRight {
                    display: flex;
                    justify-content: flex-end;
                    grid-column: 2 / 3;
                }
            }
        }

        .specialDishesSecond {
            display: grid;
            grid-template-rows: 70vh;

           .specialDishesContent {
               display: grid;
               grid-template-columns: repeat(2, 1fr);

               .specialDishesContentLeft {
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;

                    .dishesNumber {
                        display: flex;
                        align-items: center;
                    }
                }

                .specialDishesContentRight {
                    grid-column: 1 / 2;
                    display: flex;
                    grid-row: 1 / 3;
                }
            } 
        }
    }

    .menuContainer {
        display: grid;
        grid-template-rows: 10vh 50vh;

        .headlineMenu {
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .breakfastContainer {
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        
            .breakfast {
                display: grid;
                grid-column: 1 / 2;
                grid-template-rows: repeat(4, 1fr);

                &__theme {
                    grid-row: 1 / 2;
                    justify-self: center;
                    align-self: center;
                }

                .foodProposal {
                    grid-row: 2 / 3;
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;

                    &__image {
                        grid-column: 1 / 2;
                        align-self: center;
                        justify-self: center;
                    }

                    .nameFood {
                        grid-column: 2 / 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    &__price {
                        grid-column: 3 / 4;
                        justify-self: flex-end;
                        align-self: flex-start;
                    }
                }

                .foodProposal--second {
                    grid-row: 3 / 4;
                }

                .foodProposal--third {
                    grid-row: 4 / 5;
                }
            }

            .breakfast--second {
                grid-column: 2 / 3;
            }

            .breakfast--third {
                grid-column: 3 / 4;
            }
        }
    }

    .opinionsContainer {
        display: grid;
        grid-template-rows: 10vh 50vh;
        grid-template-columns: 1fr;

        .opinionsHeadline {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .opinionsContent {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .teamContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 90vh;

        .teamHeadline {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cvContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 50px;

            .chef {
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                &__name {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                }
            }

            .chefSecond {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            .chefThird {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
        }
    }

    .reservationContainer {

        .formReservation {
            display: flex;
            flex-direction: column;
            align-items: center;

            .datetimeReservation {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh;
    grid-gap: 150px;

    .footerInfoFirst {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footerInfoSecond {

        &__theme {
            margin: 0;
        }

        .opening {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .openingDays {
                grid-column: 1 / 2;
            }

            .openingHours {
                grid-column: 2 / 3;
            }
        }
    }

    .footerInfoThird {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .copyright {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        justify-self: center;
    }
}
